@tailwind base;
@tailwind components;
@tailwind utilities;



.shimmer {
    background: linear-gradient(90deg,#1118278f   0%, #262a3198 50%, #181e2b9a  100%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}